$c-primary: #eb6b17;
$c-primary-dark: #b64900;
$c-secondary: #ff7900;
$c-secondary-light: #ff9249;
$c-secondary-lighter: #ffa859;
$c-secondary-lightest: #f9cc6e;
$c-success: #31c7aa;
$c-success-light: #6ae5d3;
$c-warning: #ff827c;
$c-warning-light: #ffe2de;
$c-danger: #db504a;
$c-info: #574bda;
$c-black: #000000;
$c-black-dark: #020311;
$c-black-light: #7d8892;
$c-white: #ffffff;
$c-gray: #d6d6d6;
$c-gray-dark: #bbbbbb;
$c-gray-light: #f4f4f4;
$c-gray-lighter: #f5f4f4b0;
$c-gray-blue: #8a90a7;
$c-gray-blue-dark: #4c5475;
$c-gray-blue-light: #c0c6df;
$c-gray-default: #f0f2f5;
